<!DOCTYPE html>
<html>
<head>
	<title>CSV Upload-List of Uploaded Files</title>
	<style>
	body{
	margin: 0;
	padding: 0;
	display: block;
	/* justify-content: center;
	align-items: center; */
	min-height: 91.5vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 30%;
	height: 80%;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	/* border-radius: 10px;
	box-shadow: 5px 20px 50px #000; */
	padding-left: 37%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	padding-right:20%;
	padding-left: 15%;
	font-weight: bold;
	/* cursor: pointer; */
	transition: .5s ease-in-out;
}
/* input{
	width: 30%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 40%;
	height: 40px;
	margin: 30px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
} */
/* p{
    font-weight:800;
    font-size: 1.1em;
    color:yellowgreen;
    text-align:center
} */
a{
	color:yellowgreen;
	font-weight:500;
    font-size: 1em;
}

</style>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<%if(files){%>
		<label>List of uploaded CSV Files</label>
		<div class="main">
        <%files.forEach((file)=>{%>
            <div><a href="/filecontent/<%=file.fileName%>"><%=file.fileName%></a></div>
			<br>
       <% });%> 
	</div>
	<%}else{%>
		<label style="color:red;padding-top: 15%;">No files are uploaded yet</label>
	<%}%>
		
</body>
</html>